<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/styles.css' %}" media="all"> 
    <a href="{% url 'base' %}" class="btn btn-secondary mb-3">Back to Dashboard</a>

</head>
<body>
    <div class="container mt-4">
        <h2>Add Customer</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone:</label>
                <input type="text" class="form-control" id="phone" name="phone" required>
            </div>
            <button type="submit" class="btn btn-primary">Save Customer</button>
        </form>
    </div>
</body>
</html>